<header class="header">
  <div class="container header__container">
    <a routerLink="/" class="header__logo">
      <h1 class="header__logo--title">NETCLICKS</h1>
      <p class="header__logo--subtitle">всё о сериалах</p>
    </a>
    <div class="header__controls">
      <a href="./film.html">Вход и регистрация</a>
    </div>
    <div class="header__controls--mobile">
      <a routerLink="/">
        <img src="./images/icons/burger.svg" alt="burger" />
      </a>
    </div>
  </div>
</header>
