<section class="search">
    <div class="container search__container">
      <div class="search-box">
        <input
          [value]="searchString"
          type="text"
          placeholder="Что хотите посмотреть?"
          id="search-input"
          (input)="updateValue($event)"
        />
        <button id="search-button"
        (click)="updateSearch($event)"
        >
          <img src="./images/icons/search.svg" alt="search" />
          <span>Найти</span>
        </button>
      </div>
    </div>
  </section>
